---

  - include: redhat-fam.yml
    when: ansible_system_vendor == "Dell Inc." and ansible_os_family == "RedHat"
          and ( ansible_distribution_major_version == "6"
             or ansible_distribution_major_version == "7" )

  - include: debian-fam.yml
    when: ansible_system_vendor == "Dell Inc." and ansible_os_family == "Debian"
          and ( ansible_distribution_release == "precise"
             or ansible_distribution_release == "trusty" ) 
